body{

    background-color: antiquewhite;

}


h1
{
    background-color: grey;
    text-align:center;
    outline: solid 6px black;
}

/*******************************************************************************/

table {
  border-collapse: collapse;
  width: 75%;
  border: 5px solid black;
  text-align: left;
  margin-left: 10%;
  margin-top: 100px;
  position: fixed;
}

th
{
    padding: 15px;
    border: 5px solid black;
    text-align: center;
    background-color: grey;
    
}
td 
{
  padding: 25px;
  border: 5px solid black;
  text-align: left;
  background-color: #DCDCDC;
}

/*******************************************************************************/

#Button1_NewRow {
    margin-left: 450px;
    margin-top: 150px;
    transform: scale(2.5);
    
}

#Button2_NewColumn
{
    position: fixed;
    margin-left: 650px;
    transform: scale(4);
    margin-top: 700px;
}

#Grade {
    transform: scale(2);
    margin-left: 40px;
    outline: solid 1px black;
}

.disable {
    color: black !important; 
    background-color: transparent !important; 
}



#checkbox_1
{
    transform: scale(2);
    position: fixed;
    margin-top: 280px;
    margin-left: 75px;
}
#checkbox_2
{
    transform: scale(2);
    position: fixed;
    margin-left: 75px;
    margin-top: 350px;
}
#checkbox_3
{
    transform: scale(2);
    position: fixed;
    margin-left: 75px;
    margin-top: 420px;
}
#checkbox_4
{
    transform: scale(2);
    position: fixed;
    margin-left: 75px;
    margin-top: 490px;
}
#checkbox_5
{
    transform: scale(2);
    position: fixed;
    margin-left: 75px;
    margin-top: 560px;
}





.highlighted {
    background-color: yellowgreen; 
    font-weight: bold;
}
